<header>
  <hgroup>
    <h1>nodeoverflow</h1>
  </hgroup>
</header>
<section id="main">
  <div id="newQuestions" />
</section>
<ul id="questions" />
<script type="text/javascript">
  Overflow.channel = 'QUESTIONS_CHANNEL';
  Overflow.router = new Overflow.Routers.QuestionRouter();
</script>
